<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
    ">

    <!-- 这个spring-dao.xml只需要专注于注册数据库的bean就可以了，之后import到applicationContext.xml里 -->

    <!--
        DataSource: 使用Spring的数据源替换MyBatis的配置 c3p0 dpcp druid
        我们这里使用spring提供的JDBC: org.springframework.jdbc.datasource.DriverManagerDataSource
        也就是说，spring来管理数据源了
    -->
    <bean id="datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://149.28.176.120:3306/spring?useSSL=false&amp;useUnicode=true&amp;characterEncoding=utf8"/>
        <property name="username" value="odas"/>
        <property name="password" value="123456"/>
    </bean>

    <!-- sqlSessionFactory也是在这个文件里定义啦，这样之前写的那个Utils文件就不需要了 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="datasource"/>
        <!-- 绑定MyBatis配置文件，即MyBatis的设置都可以在这里写，也就是说mybatis-config.xml里的配置都可以在这里完成 -->
        <!-- 尽管mybatis-config.xml里的那些配置可以在这里完成，我们依然可以通过导入mybatis-config.xml文件的方式导入配置 -->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <!-- mapper的定位也可以在这里定义哦 -->
        <property name="mapperLocations" value="classpath:com/odas/mapper/*.xml"/>
    </bean>

    <!-- sqlSessionTemplate就是我们使用的sqlSession -->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <!-- 只能使用构造器注入sqlSessionFactory，因为他没有set方法，有set方法就可以用<property>了 -->
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>

    <!-- 配置声明式事务 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <constructor-arg ref="datasource"/>
    </bean>

    <!-- 结合AOP实现事务的织入 -->
    <!-- 配置事务的类
        命名空间为:
        xmlns:tx="http://www.springframework.org/schema/tx"
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/beans/tx.xsd
     -->
    <!-- 下面这段话是基本上是固定的 -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <!-- method name表示给哪些方法配置事务 -->
        <!--
            配置事务的传播特性:
            1. propagation, 一般默认就是REQUIRED，表示
            支持当前事务，如果当前没有事务，就新建一个事务，这是最常见的选择
            2. read-only: 只读，设定为true了后，就不能进行增删改操作了，一般用于查询方法
         -->
        <tx:attributes>
            <tx:method name="add" propagation="REQUIRED"/>
            <tx:method name="delete"/>
            <tx:method name="update"/>

            <tx:method name="query" read-only="true"/>
            <!-- 如果是 * ，则表示所有方法 -->
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <!-- 配置事务切入 -->
        <aop:pointcut id="txPointCut" expression="execution(* com.odas.mapper.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="txPointCut"/>
    </aop:config>

</beans>
