<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="cat" class="com.odas.pojo.Cat"/>
    <bean id="dog" class="com.odas.pojo.Dog"/>

    <bean id="people" class="com.odas.pojo.People">
        <property name="name" value="Odas"/>
        <property name="cat" ref="cat"/>
        <property name="dog" ref="dog"/>
    </bean>

    <!--
        byName: 会自动在容器上下文中查找，和自己对象 set 方法后面的值对应的 beanid
        注意 beanid 必须和类中定义的成员名一模一样，包括大小写，如果beanid与类成员名不一致，可以用byType
     -->
    <bean id="people1" class="com.odas.pojo.People" autowire="byName">
        <property name="name" value="Odas"/>
    </bean>

    <!--
        byType: 会自动在容器上下文中查找，和自己对象类型相同的 bean
        但是如果使用 byType，定义的<bean>只能有一个了，也就是说，本来可以对同一个类定义多个beanid，
        但是使用了 byType 就只能一个类一个 bean，否则程序无法判断到底是哪个类
     -->
    <bean id="people1" class="com.odas.pojo.People" autowire="byType">
        <property name="name" value="Odas"/>
    </bean>

    <!--
        要使用注解需要在命名空间导入context约束xmlns:context="http://www.springframework.org/schema/context"
        然后使用下面语句配置注解的支持，更好的办法是先写下面语句配置，然后alt+enter
    -->


</beans>